 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

 body {
     font-family: 'Roboto Condensed',
     sans-serif;
 }

 
 :root {
     --primary-white: #f6f6f6;
     --primary-orange: #fa685b;
    }
    
/****************************** NAVBAR ***********************/

/* .logo{}  for image sizing*/ 

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    margin: .8rem 0;
    font-size: 2rem !important;
    color:  var(--primary-white)!important;
    background-color: var(--primary-orange);
    font-weight: bold;
    padding: .5rem !important;
    border-radius: 5px;
}

/* ---- MENU LINKS ----*/

 nav a.nav-link {
     letter-spacing: 0.0375rem;
 }

 nav ul li {
     text-transform: uppercase;
 }

 .navbar-nav>li>a {
     color: var(--primary-white) !important;
     margin: 0 0.75rem;
     border-bottom: 0.1875rem solid transparent;
 }

 .navbar-nav>li>a:active,
 .navbar-nav>li>a:focus,
 .navbar-nav>li>a:hover {
     border-bottom: 0.1875rem solid var(--primary-orange);
     
 }

 .navbar-toggler:focus {
    outline: none ;
 }


